.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 0px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.wayback-logo {
  height: 30px;
  width: auto;
  margin-bottom: 6px;
}
form {
  padding: 10px 10px 10px 15px;
  display: block;
  max-width: 800px;
  margin: 0;
}
form > input {
  margin: 0 5px;
}
form > input[type=text] {
  flex: 1;
  border: 2px solid #fff;
  background: #111;
  color: #fff;
  padding: 3px 6px;
  font-size: 16px;
}
form > input[type=submit] {
  flex: none;
  height: 100%;
  border: 1px solid #fff;
  padding: 3px 10px;
  background: #eee;
}
form .about-link {
  float: right;
  flex: auto;
}
.loading { color: white; position: absolute; right: 20px; top: 20px; }

@media(min-width:800px) {
  form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 30px;
  }
  .wayback-logo {
    width: auto;
    height: 100%;
    margin-right:10px;
    margin-bottom: 0;
  }
}
