.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 5px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

form {
  padding: 10px 10px 10px 15px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  height: 30px;
  align-items: stretch;
  margin: 0;
}
form > input { margin: 0 5px; }
form > input[type=text] {
  flex: 1;
  border: 2px solid rgb(7, 123, 231);
  background: #111;
  color: #ccc;
  padding: 3px 6px;
  font-size: 16px;
}
form > input[type=submit] {
  flex: none;
  height: 100%;
  border: 1px solid rgb(7, 123, 231);
  padding: 3px 10px;
  background: #eee;
}
.loading { color: white; position: absolute; right: 20px; top: 20px; }
